:root {
    --sl-font: 'Kumbh Sans Variable', sans-serif;
    /* Dark mode colors. */
  	--sl-color-accent-low: #431000;
	--sl-color-accent: #b53a00;
	--sl-color-accent-high: #f6ab31;
	--sl-color-white: #ffffff;
	--sl-color-gray-1: #eceef2;
	--sl-color-gray-2: #c0c2c7;
	--sl-color-gray-3: #888b96;
	--sl-color-gray-4: #545861;
	--sl-color-gray-5: #353841;
	--sl-color-gray-6: #24272f;
	--sl-color-black: #17181c;
	--sl-color-banner-text: #fff;
}

/* Light mode colors. */
:root[data-theme='light'] {
	--sl-color-accent-low: #ffc9b7;
	--sl-color-accent: #b83b00;
	--sl-color-accent-high: #5b1900;
	--sl-color-white: #17181c;
	--sl-color-gray-1: #24272f;
	--sl-color-gray-2: #353841;
	--sl-color-gray-3: #545861;
	--sl-color-gray-4: #888b96;
	--sl-color-gray-5: #c0c2c7;
	--sl-color-gray-6: #eceef2;
	--sl-color-gray-7: #f5f6f8;
	--sl-color-black: #ffffff;
}